/* Add a black background color to the top navigation bar */



/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  width: 180px;
  border: solid;
  border-color: #510000;
  border-radius: 8px;
  
  margin-top: 3px;
  margin-right: 16px;
  font-size: 16px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
 
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}